aiohttp==3.6.2
altgraph==0.17
appdirs==1.4.4
arcade==2.4.2
argon2-cffi==20.1.0
asgiref==3.2.10
astroid==2.4.1
async-generator==1.10
async-timeout==3.0.1
attrs==20.2.0
auto-py-to-exe==2.7.5
autobahn==20.7.1
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.9.1
bleach==3.1.5
bottle==0.12.18
bottle-websocket==0.2.9
bs4==0.0.1
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
click==7.1.2
colorama==0.4.3
comtypes==1.1.7
config==0.5.0.post0
cryptography==3.1
cx-Freeze==6.2
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
Django==3.1
docutils==0.16
docx==0.2.4
Eel==0.12.4
entrypoints==0.3
et-xmlfile==1.0.1
exception==0.1.0
filelock==3.0.12
Flask==1.1.2
fontstyle==1.0.1.2
future==0.18.2
gevent==20.6.2
gevent-websocket==0.10.1
gmpy2 @ file:///C:/Users/prince/Downloads/gmpy2-2.0.8-cp38-cp38-win32.whl
google==3.0.0
googletrans==3.0.0
greenlet==0.4.16
gTTS==2.1.1
gTTS-token==1.1.3
gunicorn==20.1.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.12.22
html5lib==1.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.17.2
Jinja2==2.11.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyter-server-proxy==1.5.0
jupyterlab-pygments==0.1.1
keyboard==0.13.5
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
lxml==4.6.2
MarkupSafe==1.1.1
matplotlib==3.4.1
mccabe==0.6.1
mistune==0.8.4
MouseInfo==0.1.3
multidict==4.7.6
mysql-connector==2.2.9
nbclient==0.5.0
nbconvert==6.0.2
nbformat==5.0.7
nest-asyncio==1.4.0
notebook==6.1.4
numpy==1.19.1
opencv-python @ file:///C:/Users/prince/Downloads/opencv_python-4.4.0-cp38-cp38-win32.whl
openpyxl==3.0.6
packaging==20.4
pafy==0.5.5
pandas==1.0.5
pandocfilters==1.4.2
parso==0.7.1
pefile==2019.4.18
phonenumbers==8.12.10
pi3d==2.38
pickleshare==0.7.5
Pillow==7.2.0
playsound==1.2.2
plyer==1.4.3
prometheus-client==0.8.0
prompt-toolkit==3.0.7
PyAudio @ file:///C:/Users/prince/Downloads/PyAudio-0.2.11-cp38-cp38-win32.whl
PyAutoGUI==0.9.50
pycparser==2.20
pydub==0.25.1
pygame==1.9.6
PyGetWindow==0.0.8
pyglet==1.5.7
Pygments==2.7.0
PyInstaller==3.6
PyJWT==1.7.1
pylint==2.5.2
PyMsgBox==1.0.8
pymunk==5.7.0
pyparsing==2.4.7
PyPDF2==1.26.0
pyperclip==1.8.0
pypiwin32==223
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
PyRect==0.1.4
pyrsistent==0.17.3
PyScreeze==0.1.26
pytesseract==0.3.7
python-dateutil==2.8.1
python-docx==0.8.10
pythonw==3.0.3
pytiled-parser==0.9.4a3
pyttsx==1.1
pyttsx3==2.90
pytube==10.6.1
pytube3==9.6.4
PyTweening==1.0.3
pytz==2020.1
pywhatkit==2.7
pywin32==228
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.2
qtconsole==4.7.7
QtPy==1.9.0
requests==2.24.0
rfc3986==1.4.0
selenium==3.141.0
Send2Trash==1.5.0
simpervisor==0.3
sinchsms==1.0.4
six==1.15.0
sniffio==1.2.0
soupsieve==2.0.1
sp==1.1.0
SpeechRecognition==3.8.1
sqlparse==0.4.2
statistics==1.0.3.5
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
toml==0.10.1
tornado==6.0.4
traitlets==5.0.4
twilio==6.60.0
txaio==20.4.1
typing-extensions==3.7.4.2
tzdata==2021.5
urllib3==1.25.10
virtualenv==20.0.30
vpython==7.6.1
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
whichcraft==0.6.1
whitenoise==5.3.0
widgetsnbextension==3.5.1
wikipedia==1.4.0
wireless==0.3.3
WMI==1.5.1
wrapt==1.12.1
XlsxWriter==1.3.7
xlwt==1.3.0
yarl==1.5.1
youtube-dl==2020.9.14
zope.event==4.4
zope.interface==5.1.0
